* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #faebd7;
    font-family: poppins, sans-serif;
    font-weight: 300;
    text-align: center;
}

#logo{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 500%;
}

#menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
    letter-spacing: 2px;
    margin-top: 30px;
    font-size: 130%;
}

#menu li{
    display: inline;
    margin-right: 30px;
} 

#menu a, 
#logo-link{
    text-decoration: none;
    color: #3a82fd;
}

#menu a, 
#logo-link:visited{
    text-decoration: none;
    color: #3a82fd;
}

.welcome{
    margin: 60px 60px 0;
}

.welcome > h2,
.welcome > p{
    display: flex;
    justify-content: center;
}

.welcome > h2{
    font-size: 200%;
}

.welcome > p{
    padding-top: 30px;
    font-size: 130%;
}

.quiz-container{
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 400px;
    max-width: 830px;
    background-color: #e8dccc;
    border: 2px solid #cfc4b5;
    margin: 30px auto 0;
}

#question{
    color: #000;
    margin-top: 20px;
}

#answers {
    margin-top: 20px;
}

#play-again-button{
    width: 175px;
    height: 35px;
    margin-top: 20px;
}

.btn{
    background-color: #717171;
    color: #fff;
    border-radius: 20px;
}

#result-message{
    margin-top: 20px;
}

.next-quiz{
    margin-top: 30px;
    margin-bottom: 30px;
}

.next-quiz > p{
    font-size: 130%;
}

.answer {
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #cfc4b5;
    border-radius: 20px;
    cursor: pointer;
  }

  .correct-answer{
    background-color: #90ee90
}

.incorrect-answer{
    background-color: #ff0000;
}